@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/**{

  outline: none;
  font-family: 'Poppins', sans-serif;
}*/
.bodycontainer{
  height:100%;
  display: flex;
  justify-content: center;
  /*overflow: hidden;*/
  background: url("#"), -webkit-linear-gradient(bottom, #118502, #042fbe);
}

.container{
  width: 60%;
  height: 80%;
  background:#fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.container .header{
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color:#0481f5;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color:#0481f5;
}
.form-outer form .page .field{
  height: 45px;
  margin: 40px 1px;
  display: flex;
  position: relative;
}

.columns{
  display: flex;padding: -340px;
}

form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 200;
  
}
form .page .field input{
  height: 80%;
  margin-right: 20px;
  width: 150%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 70%;
  padding-left: 1px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #0481f5;
  margin-top: -25px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #000;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 0px 0;
  user-select: none;
  padding-bottom: 5%;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 2em;
  width: 2em;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color:#0481f5;
  background: #0481f5;;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -10em;
  height: 3px;
  width: 11em;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #0481f5;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #0481f5;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .s  tep .check.active{
  display: block;
  color: #fff;
}
