<h1>Arquitectura de Aplicaciones Web</h1>
<img src="img/arquitectura.png" alt="">
<p>Este es el Diagrama MVC que consiste en separar la capa de la vista de la capa de control, para que estas sean
    independientes unas de otras de tal modo que un diseñador grafico pueda trabajar con la vista y otro programador
    pueda trabajar con la lógica.
</p>
<p>Además necesitamos una forma de comunicar la vista con el modelo para eso tenemos un controlador que sirve de
    intermediario entre ambos.</p>
<img src="img/arquitectura2.png" alt="">
<p>El modelo anterior puede ser subdividido en 6 capas donde iniciamos con el Cliente que es el navegador el cual es el
    que está en contacto directo con el usuario después tenemos La Red que es el medio en que se comunica el navegador
    con el Servidor Web que puede ser remoto o local, este servidor puede tener distribuido un Conjunto de Script
    cumpliendo con la lógica de negocio y al final tenemos las Bases de Datos con sus conectores donde se almacena todos
    los datos como imágenes, datos de inicio de sesión, etc</p>