<link rel="stylesheet" href="/css/biografia.css">
<h1>Héctor Castillo (Biografia)</h1>
<h2 class="subtittle">EW4839</h2>
<hr>
<div class="grid-container">
  <div class="parrafo">
    <h2>Infancia</h2>
    <p>
      Héctor Aristy Castillo Mateo Nació el 19 de agosto de 1993 en el
      municipio de San José De Ocoa en la provincia Peravia. Sus padres
      Victor Bienvenido Castillo y su madre Juana Emilia Mateo Mejia,
      oriundos de la misma provincia.
    </p>
    <p>
      Sus Padres Se separaron pocos meses de haber nacido Héctor, pero
      afortunadamente poco tiempo despues retomaron la relacion debido a que
      Héctor estaba padeciendo de enfermedades respiratorias provocando la
      visita constante a los hospitales y otras personas que se hacian
      llamar curanderos. Luego de muchas examenes descubrieron que era
      alergico a un detergente usado para lavar.
    </p>
    <h2>Estudios</h2>
    <p>
      Héctor Castillo inicio sus estudios en una escuala preescolar en la provincia
      de San Cristobal en la cual solo asistio un par de meses, puesto que se trasladaron a
      la ciudad de Santo Domingo en busca de superacion y allí fué
      inscrito en el colegio primario La Esperanza Del Mañana donde recibió docencia
      hasta cuarto de primaria. Termino sus estudios primarios en la escula publica Las
      Abejitas donde no se caracterizo por tener muchos amigos sino que se dedicaba
      plenamente a los estudios.
    </p>
    <p>
      Héctor cursó sus estudios secundarios en el liceo Fabio Amable Mota
      destacandose en ciencias, idiomas, matematicas e informatica. Ahora estudia
      informatica en la Universidad Autonoma De Santo Domingo, Conocida como UASD.
    </p>
    <h2>informatica</h2>
      <p>
        Todo comenzó aquel día que su padre le cómo compro una computadora de
        escritorio cuando cursaba la secundaria. Aunque poseia pocos recursos para
        Héctor era algo extraordinario y quedó fascinado por cómo funcionaba está maravillosa
        máquina.
      </p>
      <p>
        Esta computadora estaba defectuosa, por lo que el padre la llevaba a
        reparar, dónde pasaban días y semanas para que Héctor pudiera volver a
        utilizarla, hasta que no soportó tanta espera y decidió repararla por
        el mismo.
      </p>
      <h2>Vida Amorosa</h2>
      <p>
        Desde muy joven se caracterizo por ser muy timido con las mujeres, su primera
        carta de amor fue escrita como poema a su amiga de la infancia el cual parecia amistoso
        pero en realidad era un poema de amor.
      </p>
      <p>
        Al rededor de sus 18 tuvo su prirmera novia la cual no terminó nada bien.
        Triste y debastado se refugio en su amiga de la infancia hasta que poco a poco esa
        amistad se convirtió en amor. Hoy viven felizmente casados.
      </p>
  </div>
  <div>
    <img class="bioimg" src="/img/hector.jpg" />
  </div>
</div>
<div>
  <h2>HORARIO DE CLASES</h2>
  <table>
    <tr>
      <th>Lunes</th>
      <tH>Martes</th>
      <th>Miercoles</th>
      <th>Jueves</tH>
      <th>Viernes</th>
      <th>Sabado</th>
    </tr>
    <td>
      Mat. Financiera <br>
      05:00pm - 08:00pm
    </td>
    <td>
      Leng Prog III <br>
      08:00pm - 09:50pm
    </td>
    <td>
      Lab leng Prog III <br>
      07:00am - 09:00am
    </td>
    <td>
      Analisis Lineal y Matricial <br>
      06:00pm - 08:00pm
    </td>
    <td>
      Analisis Lineal y Matricial <br>
      07:00am - 11:00am
    </td>
    <td>
      Lab Fisica Informatica <br>
      12:00pm - 02:00pm
    </td>
    <tr>
      <td></td>
      <td></td>
      <td>
        Mat. Financiera <br>
        05:00pm - 08:00pm
      </td>
      <td>
        Leng Prog III <br>
        08:00pm - 09:50pm
      </td>
      <td>
        Teleproceso <br>
        05:00pm - 08:00pm
      </td>
      <td>
        Teleproceso <br>
        02:00pm - 04:00pm
      </td>
    </tr>
  </table>
</div>