<form action="/validar" method="post"><h1>Validar Cedula</h1>
    <input
      type="text"
      name="cedula"
      id="cedula"
      placeholder="Cedula"
      maxlength="11"
    />
    <input type="submit"></input>
    </form>
    
    <div id="result">{{respuesta}}</div>
