
  <header>
    
  </header>
    <div class_="allmenu">
      <div class="Encabezado">
      <img class="Banreservas" src="../img/portadauasd.png" />
      <a class="Temas" href="/">Salir</a>
    </div>

    <nav>
      
      <ul id="menu">

      </ul>
    </nav>
    </div>
    

  <link rel="stylesheet" type="text/css" href="css/menuStyle.css">
  <script src="script/menuScript.js"></script>
