<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/menuStyle.css">
    

    <title>Banreservas</title>
  </head>
  <body>
    <header>
      <div class="Encabezado">
        <img
          class="Banreservas"
          src="https://www.banreservas.com/sites/default/files/logo.png"
        />
        <a class="Temas" href="#">Personal</a>
        <a class="Temas" href="#">Preferente</a>
        <a class="Temas" href="#">Pyme</a>
        <a class="Temas" href="#">Empresarial</a>
        <a class="Temas" href="#">Gubernamental</a>
      </div>

      <nav >
        <ul id="menu">
          
        </ul>
      </nav>
    </header>
    

    <script src="script/menuScript.js"></script>
    {{{body}}}
  </body>
</html>
