<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  


  <title>Proyecto Final</title>
</head>


<body>
  
  {{#if logged}}
    {{>navigation}}
  {{/if}}
  
 {{{body}}}
</body>

</html>